fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic[email]
asyncpg
python-dotenv
python-jose
passlib[bcrypt]
python-multipart
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langgraph
faiss-cpu
sentence-transformers
pypdf
python-docx
pandas
openpyxl
Pillow
pytesseract
reportlab
